@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<a href="/Staff/Index/" class="btn btn-info">Personel Listesine Git</a>
<hr />
<form method="post">
    <input type="hidden" asp-for="StaffId"/>
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <label>Sosyal Medya 1</label>
    <input type="text" asp-for="SocialMedia1" class="form-control" />
    <label>Sosyal Medya 2</label>
    <input type="text" asp-for="SocialMedia2" class="form-control" />
    <label>Sosyal Medya 3</label>
    <input type="text" asp-for="SocialMedia3" class="form-control" />
    <br />
    <button class="btn btn-warning">Personeli Güncelle</button>

</form>



