@model List<ApiMovieViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Rating</th>
                <th>Trailer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.rank</td>
                    <td>@item.title</td>
                    <td>@item.rating</td>
                    <td><a href="#" class="btn btn-dark">Fragmanı İzle</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>


