@model List<InboxContactDto>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}


        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="email-left-box">
                        <a href="/AdminContact/SendMessage/" class="btn btn-primary btn-block">Yeni Mesaj Oluştur</a>
                        <div class="mail-list mt-4">
                            <a href="/AdminContact/Inbox" class="list-group-item border-0 text-dark p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Mesajlar</b> <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.getContactCount</span> </a>

                            <a href="/AdminContact/SendBox" class="list-group-item border-0 text-dark p-r-0 "><i class="fa fa-paper-plane font-18 align-middle mr-2"></i><b>Giden Mesajlar</b> <span class="badge badge-success badge-sm float-right m-t-5">@ViewBag.getSendMessageCount</span></a>

                            <a href="#" class="list-group-item border-0 p-r-0 text-dark"><i class="fa fa-star-o font-18 align-middle mr-2"></i><b>Favoriler</b> <span class="badge badge-danger badge-sm float-right m-t-5">47</span> </a>

                            <a href="#" class="list-group-item border-0 p-r-0 text-dark"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i><b>Taslaklar</b> <span class="badge badge-warning badge-sm float-right m-t-5">198</span></a>

                            <a href="#" class="list-group-item border-0 p-r-0 text-dark"><i class="fa fa-trash font-18 align-middle mr-2"></i><b>Çöp Kutusu</b> <span class="badge badge-dark badge-sm float-right m-t-5">198</span></a>
                        </div>

                        <h5 class="mt-5 m-b-10">Kategoriler</h5>
                       @await Html.PartialAsync("SidebarContactCategoryPartial") 
                    </div>
                    <div class="email-right-box">
                        <div role="toolbar" class="toolbar">
                            <div class="btn-group">
                                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark" type="button">Gelen Mesajlar <span class="note-icon-caret m-1-5"></span></button>
                            </div>
                        </div>
                        <div class="email-list m-t-15">
                            @foreach (var item in Model)
                            {
                                <div class="message">
                                    <a href="/AdminContact/MessageDetailsByContact/@item.ContactID">
                                        <div class="col-mail col-mail-1">
                                            <div class="email-checkbox">
                                                <input type="checkbox" id="chk2">
                                                <label class="toggle" for="chk2"></label>
                                            </div><span class="star-toggle ti-star"></span>
                                        </div>
                                        <div class="col-mail col-mail-2">
                                            <div class="subject">@item.Message</div>
                                            <div class="date">@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</div>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
