@model HotelProject.WebUI.Models.Settings.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>Profil Bilgileri ve Şifre Güncelleme</h1>

<form method="post">
    <label>Adınız</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Soyadınız</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Emailiniz</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
    <label>Kullanıcı Adınız</label>
    <input type="text" asp-for="Username" class="form-control" readonly/>
    <br />
    <label>Şifreniz</label>
    <input type="password" asp-for="Password" class="form-control" />
    <br />
    <label>Şifreniz Tekrar</label>
    <input type="password" asp-for="ConfirmPassword" class="form-control" />
    <br />
    <button class="btn btn-success">Bilgileri Güncelle</button>
</form>

