
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data"> 
    <label>Yüklenecek Resim Dosyası</label>
    <input type="file" name="file" class="form-control"/>
    <br />
    <button class="btn btn-primary">Yükle</button>
</form>

